{% extends "base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Task demo</h1>
    <p>Task demo project!</p>
  </div>
{% endblock %}
